^^^^^ comment-details.hand^^^^^^<section class="card">
    <div class="card-body">
      <p>Comment By   **user.username**{{user.username}}: **body**{{body}}</p>
    </div>
</section>^^^^^comment-details.hand^^^^^^