  <div class="addpost-card">
    <h2 class="page-title">Add a Comment</h2>
    <form class="form addcomment-form">
      <div class="form-group">
        <label for="name-addcomment">Name:</label>
        <input class="form-input" type="text" id="name-addcomment" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="addCommentButton" type="submit">Submit</button>
      </div>
    </form>
  </div>

<script src="../js/comment.js"></script>