  <div class="addpost-card">
    <h2 class="page-title">Add a Post</h2>
    <form class="form addpost-form">
      <div class="form-group">
        <label for="name-addpost">Name:</label>
        <input class="form-input" type="text" id="name-addpost" />
      </div>
      <div class="form-group">
        <label for="description-addpost">Description:</label>
        <input class="form-input" type="text" id="description-addpost" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="addButton" type="submit">Submit</button>
      </div>
    </form>
  </div>

<script src="../js/addPost.js"></script>